.library-name a {
    position: relative;
    margin-left: 55px;
}

:root {
    --dokka-logo-image-url: url("../images/monkopedia_icon.png");
    --dokka-logo-width: 36px;
    --dokka-logo-height: 36px;
}
